.App {
  text-align: center;
  margin: 5rem;
}

body {
  background-color: black;
}

form {
  text-align: left;
}

label, h1, section, h2 {
  color: white;
}

.form-group {
  color: red;
}

input {
  margin-bottom: .5rem;
}